---
import HomeLayout from "../../layouts/HomeLayout.astro";
import NavBar2 from "../../components/NavBar2.astro";
import InfoCard from "../../components/InfoCard.astro";
import Card from "../../components/Card.astro";
import { getLangFromUrl, useTranslations } from "../../lang/utils";
import TechCarrousel from "../../components/TechCarrousel.astro";
import ProjectSection from "../../components/ProjectSection.astro";
import ExpSection from "../../components/ExpSection.astro";
import Contacto from "../../components/Contacto.astro";
import Footer from "../../components/Footer.astro";
import Separator from "../../components/reusables/Separator.astro";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<HomeLayout>
    <NavBar2 slot="navbar" />
    <article
        id="main"
        slot="main"
        class="flex flex-row items-center justify-around h-screen mb-52 p-10"
    >
        <InfoCard jobposition="Frontend Developer" />
        <Card>
            <h2 class="text-4xl mb-3">{t("main.title")}</h2>
            <p class="text-xl">{t("main.description")}</p>
        </Card>
    </article>
    <TechCarrousel slot="main" />
    <article id="projects" slot="main" class="flex flex-col mt-52">
        <h1 class="text-5xl text-center text-white mb-6">
            {t("projects.title")}
        </h1>
        <div class="flex flex-row justify-center flex-wrap">
            <ProjectSection
                img="/vam_portada.webp"
                title="projects.1.title"
                icons={["astro", "js", "react", "node"]}
                link="/projects/vam"
                name="vam"
            />
            <ProjectSection
                img="/fabulab_portada.webp"
                title="projects.2.title"
                icons={["tauri", "ts"]}
                link="/projects/sensor"
                name="sensor"
            />
            <ProjectSection
                img="/marcador_portada.webp"
                title="projects.3.title"
                icons={["react", "capacitor", "node"]}
                link="/projects/marcador"
                name="marcador"
            />
        </div>
    </article>
    <article id="experience" slot="main" class="flex flex-col mt-52">
        <h1 class="text-5xl text-center text-white mb-6">
            {t("experience.title")}
        </h1>

        <ExpSection
            img="/j&j.png"
            title="experience.1.title"
            empresa="experience.1.empresa"
            date="experience.1.date"
            description="experience.1.description"
        />
        <Separator />
        <ExpSection
            img="/dsecurity.jpg"
            title="experience.2.title"
            empresa="experience.2.empresa"
            date="experience.2.date"
            description="experience.2.description"
            link="https://decentralizedsecurity.es/#projects"
        />
        <Separator />
        <ExpSection
            img="/devfolio.png"
            title="experience.3.title"
            empresa="experience.3.empresa"
            date="experience.3.date"
            description="experience.3.description"
            link="https://devfolio.co/projects/optimizing-worker-tracking-in-nucypher-using-bls-4a2d"
        />
        <Separator />
        <ExpSection
            img="/dsecurity.jpg"
            title="experience.4.title"
            empresa="experience.4.empresa"
            date="experience.4.date"
            description="experience.4.description"
        />
    </article>

    <article id="contact" slot="main" class="flex flex-col mt-52 mb-52">
        <h1 class="text-5xl text-center text-white mb-6">
            {t("contact.title")}
        </h1>
        <Contacto />
    </article>
    <Footer slot="footer" />
</HomeLayout>
