---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import TechCarousel from "../components/TechCarrousel.astro";
import Text from "../components/Text.tsx";
import InfoCard from "../components/InfoCard.astro";
import ExpSection from "../components/ExpSection.astro";
import Contacto from "../components/Contacto.astro";
import ProjectSection from "../components/ProjectSection.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Portfolio">
    <main>
        <article class="main__article">
            <section class="avatar__section">
                <InfoCard />
            </section>
            <section class="main__section">
                <Card>
                    <Text
                        client:load
                        type="h2"
                        className="pb-1"
                        id={"main.title"}
                    />
                    <Text client:load type="h4" id={"main.description"} />
                </Card>
            </section>
        </article>
        <TechCarousel />
        <article id="projects" class="projects__article">
            <Text client:load type="h1" id={"projects.title"} />
            <div class="row">
                <ProjectSection
                    img="/vam_portada.webp"
                    title="projects.1.title"
                    icons={["astro", "js", "react", "node"]}
                    link="/projects/vam"
                    name="vam"
                />
                <ProjectSection
                    img="/fabulab_portada.webp"
                    title="projects.2.title"
                    icons={["tauri", "ts"]}
                    link="/projects/sensor"
                    name="sensor"
                />
                <ProjectSection
                    img="/marcador_portada.webp"
                    title="projects.3.title"
                    icons={["react", "capacitor", "node"]}
                    link="/projects/marcador"
                    name="marcador"
                />
            </div>
        </article>
        <article id="experience" class="experience__article">
            <Text client:load type="h1" id={"experience.title"} />
            <ExpSection
                img="/j&j.png"
                title="experience.1.title"
                empresa="experience.1.empresa"
                date="experience.1.date"
                description="experience.1.description"
            />
            <div class="separator"></div>
            <ExpSection
                img="/dsecurity.jpg"
                title="experience.2.title"
                empresa="experience.2.empresa"
                date="experience.2.date"
                description="experience.2.description"
                link="https://decentralizedsecurity.es/#projects"
            />
            <div class="separator"></div>
            <ExpSection
                img="/devfolio.png"
                title="experience.3.title"
                empresa="experience.3.empresa"
                date="experience.3.date"
                description="experience.3.description"
                link="https://devfolio.co/projects/optimizing-worker-tracking-in-nucypher-using-bls-4a2d"
            />
            <div class="separator"></div>
            <ExpSection
                img="/dsecurity.jpg"
                title="experience.4.title"
                empresa="experience.4.empresa"
                date="experience.4.date"
                description="experience.4.description"
            />
        </article>
        <article id="contact" class="contact__article">
            <Text client:load type="h1" id={"contact.title"} />
            <Contacto />
        </article>
        <Footer />
    </main>
</Layout>

<style>
    body {
        background: #13151a;
        padding: 0;
        margin: 0;
        background-image: url("/back.svg");
        background-repeat: no-repeat;
        background-size: contain;
        color: aliceblue;
        overflow-x: hidden;
    }
    main {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main__article {
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
    }
    .avatar__section {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main__section {
        display: flex;
        justify-content: start;
        flex-direction: column;
        width: 40%;
        color: aliceblue;
        text-align: center;
        text-align: start;
    }
    .main__section h1 {
        font-size: 5rem;
        margin: 0;
        padding: 0 0 20px 0;
        background: -webkit-radial-gradient(#eee, #1dc4ab);
        background-size: 200% auto;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: animate 5s linear infinite;
    }
    @keyframes animate {
        0% {
            background-position: 0 100%;
        }

        100% {
            background-position: 100% 0;
        }

        0% {
            background-position: 0 100%;
        }
    }

    .projects__article {
        padding-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .row {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        gap: 10px;
    }

    .experience__article {
        padding-top: 100px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .separator {
        width: 90%;
        border-bottom: white 1px solid;
        border-radius: 50%;
        margin: 20px 0;
    }

    .contact__article {
        padding-top: 100px;
        width: 100%;
        margin-bottom: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    @media (max-width: 1000px) {
        .main__article {
            flex-direction: column;
            height: auto;
            width: 90%;
            padding-top: 80px;
        }

        .main__section {
            width: 100%;
            margin-top: 50px;
            margin-bottom: 50px;
            /* padding: 5%; */
            gap: 20px;
        }
    }
</style>
