---
// interface Props {
//     title: string;
//     body: string;
//     href: string;
// }

// const { href, title, body } = Astro.props;
---

<div class="card__container">
    <div class="card">
        <slot />
    </div>
    <div class="overlay">
        <div class="card__overlay"></div>
    </div>

    <style>
        .card__container {
            position: relative;
        }
        .card {
            height: 100%;
            inset: 0;
            padding: 1.5em 2em;
            display: grid;
            grid-template-rows: auto auto auto 1fr;
            align-items: start;
            gap: 1.25em;
            color: #eceff1;
            background-color: #2b2b2b;
            border: 1px solid #eceff133;
            border-radius: 15px;
        }
        .overlay {
            position: absolute;
            inset: 0;
            pointer-events: none;
            user-select: none;
            opacity: var(--opacity, 0);
            -webkit-mask: radial-gradient(
                25rem 25rem at calc(var(--x) - var(--xx))
                    calc(var(--y) - var(--yy)),
                #000 1%,
                transparent 50%
            );
            mask: radial-gradient(
                25rem 25rem at calc(var(--x) - var(--xx))
                    calc(var(--y) - var(--yy)),
                #000 1%,
                transparent 50%
            );
            transition: 400ms mask ease;
            will-change: mask;
        }

        .overlay .card__overlay {
            --hsl: var(--accent);
            height: 100%;
            border-radius: 15px;
            background-color: hsla(var(--hsl), 0.15);
            border-color: hsla(var(--hsl), 1);
            box-shadow: 0 0 0 1px inset hsl(var(--hsl));
        }

        :not(.overlay) > .card {
            transition: 400ms background ease;
            will-change: background;
        }

        /* :not(.overlay) > .card:hover {
            --lightness: 95%;
            background: hsla(var(--hsl), 0.1);
        } */
    </style>
</div>
