---
import { getLangFromUrl, useTranslations } from "../lang/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<form method="POST" class="flex flex-col gap-1 w-1/3 mx-auto">
    <h4 class="font-bold text-lg text-white">{t("contact.name")}</h4>
    <input
        class="p-2 rounded-md border border-gray-300 mb-4"
        type="text"
        name="name"
    />
    <h4 class="font-bold text-lg text-white">{t("contact.email")}</h4>
    <input
        class="p-2 rounded-md border border-gray-300 mb-4"
        type="email"
        name="mail"
    />
    <h4 class="font-bold text-lg text-white">{t("contact.message")}</h4>
    <textarea class="p-2 rounded-md border border-gray-300 mb-4" name="message"
    ></textarea>
    <button
        class="p-2 w-32 bg-blue-600 rounded-md self-end hover:bg-blue-700"
        type="submit"
        id="contact__button"
    >
        <h4 class="font-bold text-lg text-white">{t("contact.send")}</h4>
    </button>
</form>

<script>
    import emailjs from "@emailjs/browser";
    import { toast } from "sonner";

    console.log("AAAAAAAA");

    emailjs.init("G7HORSmDTHt5bFrzO");

    const button = document.getElementById("contact__button");

    const form = document.querySelector("form");

    if (form) {
        form.addEventListener("submit", (e) => {
            e.preventDefault();

            if (!form) {
                return;
            } else if (!form?.reportValidity()) {
                return;
            }

            button?.setAttribute("disabled", "true");
            button!.textContent = "Sending...";

            emailjs
                .sendForm("service_4vlnrd5", "contact_form", form!)
                .then(() => {
                    form!.reset();

                    button?.removeAttribute("disabled");
                    button!.textContent = "Send";

                    toast.success("Message sent!");
                });
        });
    }
</script>

<!-- <style>
    .contact__form {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        width: 40%;
        height: 100%;
        margin-top: 50px;
    }

    .contact__form input,
    .contact__form textarea {
        width: calc(100% - 20px);
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 16px;
        resize: none;
        margin-bottom: 20px;
        margin-top: 5px;
    }

    .contact__form textarea {
        height: 150px;
    }

    .contact__form button {
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        background-color: #007bff;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
        align-self: flex-end;
        transition: background-color 0.3s ease;
    }

    .contact__form button:hover {
        background-color: #0062cc;
    }

    @media (max-width: 700px) {
        .contact__form {
            width: 90%;
        }
    }
</style> -->
