---
import Text from "./Text";
---

<form class="contact__form" method="POST">
    <Text client:visible type="h4" id="contact.name" />
    <input type="text" name="name" />
    <Text client:visible type="h4" id="contact.email" />
    <input type="email" name="mail" />
    <Text client:visible type="h4" id="contact.message" />
    <textarea name="message"></textarea>
    <button type="submit" id="contact__button">
        <Text client:visible type="h4" id="contact.send" />
    </button>
</form>

<script>
    import emailjs from "@emailjs/browser";
    import { toast } from "sonner";

    emailjs.init("G7HORSmDTHt5bFrzO");

    const button = document.getElementById("contact__button");

    const form = document.querySelector("form");

    form!.addEventListener("submit", (e) => {
        e.preventDefault();

        if (!form) {
            return;
        } else if (!form?.reportValidity()) {
            return;
        }

        button?.setAttribute("disabled", "true");
        button!.textContent = "Sending...";

        emailjs.sendForm("service_4vlnrd5", "contact_form", form!).then(() => {
            form!.reset();

            button?.removeAttribute("disabled");
            button!.textContent = "Send";

            toast.success("Message sent!");
        });
    });
</script>

<style>
    .contact__form {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        width: 40%;
        height: 100%;
        margin-top: 50px;
    }

    .contact__form input,
    .contact__form textarea {
        width: calc(100% - 20px);
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 16px;
        resize: none;
        margin-bottom: 20px;
        margin-top: 5px;
    }

    .contact__form textarea {
        height: 150px;
    }

    .contact__form button {
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        background-color: #007bff;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
        align-self: flex-end;
        transition: background-color 0.3s ease;
    }

    .contact__form button:hover {
        background-color: #0062cc;
    }

    @media (max-width: 700px) {
        .contact__form {
            width: 90%;
        }
    }
</style>
