---
import Text from "./Text";
---

<footer>
    <Text client:visible type="h6" id="footer.copy" />
    <Text client:visible type="h6" className="secondary" id="footer.github" />
    <a href="https://github.com/edugemen">
        <Text client:visible type="h6" className="primary" id="footer.link" />
    </a>
</footer>

<style>
    footer {
        box-sizing: border-box;
        display: flex;
        width: 100%;
        height: 70px;
        background-color: rgb(13, 13, 13);
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5px;
        padding: 10px;
    }

    a {
        text-decoration: none;
        cursor: pointer;
    }
</style>
