---
import Avatar from "./Avatar.astro";
import GlassCard from "./reusables/GlassCard.astro";
import {
    IconBrandGithub,
    IconMail,
    IconBrandLinkedin,
} from "@tabler/icons-react";
import { getLangFromUrl, useTranslations } from "../lang/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<GlassCard>
    <Avatar size={"300px"} />
    <article class="text-white text-l flex flex-col items-start">
        <h1 class="text-5xl text-blue-600">Eduardo Guerrero</h1>
        <h3 class="text-2xl">{t("info.dev")}</h3>
        <div class="info__icon">
            <IconBrandGithub />
            <a href="https://github.com/edugemen">Github</a>
        </div>
        <div class="info__icon">
            <IconMail />
            <a
                href="https://mail.google.com/mail/?view=cm&source=mailto&to=edugemen@gmail.com"
                >Gmail</a
            >
        </div>
        <div class="info__icon">
            <IconBrandLinkedin />
            <a href="https://www.linkedin.com/in/edugemen/">Linkedin</a>
        </div>
        <button
            class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-5 w-full"
            onclick="window.location.href='#contact'"
        >
            <p>{t("info.contact")}</p>
        </button>
    </article>

    <style>
        .info__article {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: start;
            color: aliceblue;
        }

        .info__article h1 {
            margin: 0;
            padding: 0;
            font-size: 3rem;
            color: rgb(165, 197, 255);
            line-height: 50px;
            margin: 10px 0 10px 0;
        }

        .info__icon {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            margin: 10px 0 0 0;
            gap: 5px;
            transition: gap 100ms ease;

            a {
                text-decoration: none;
                cursor: pointer;
                user-select: none;
                color: aliceblue;
            }
        }

        .info__icon:hover {
            gap: 15px;

            a {
                font-weight: 700;
            }
        }

        .info__button {
            width: 100%;
            margin-top: 10px;
        }
    </style>
</GlassCard>
