---
import Icon from "astro-icon";
import LangSelector from "./LangSelector";
import Text from "./Text";
---

<nav class="topnav" id="myTopnav">
    <!-- <ul > -->
    <a href="/#" class="active">
        <Text client:load type="h4" id="nav.home" />
    </a>
    <a href="/#experience">
        <Text client:load type="h4" id="nav.experience" />
    </a>
    <a href="/#projects">
        <Text client:load type="h4" id="nav.projects" />
    </a>
    <a href="/#contact">
        <Text client:load type="h4" id="nav.contact" />
    </a>
    <LangSelector client:visible />
    <Icon id="menu" name="menu" size={30} />
    <!-- <a href="javascript:void(0);" id="menu" class="icon">
        <i class="fa fa-bars"></i>
    </a> -->
    <!-- </ul> -->
</nav>

<script>
    function myFunction() {
        var x = document.getElementById("myTopnav")!;
        if (x.className === "topnav") {
            x.className += " responsive";
            window.onscroll = function () {
                x.className = "topnav";
            };
        } else {
            x.className = "topnav";
        }
    }

    document.getElementById("menu")?.addEventListener("click", () => {
        myFunction();
    });
</script>

<style>
    nav {
        width: 100%;
        height: 3rem;
        position: fixed;
        top: 0;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        color: white;
        backdrop-filter: blur(20px);
        mask: linear-gradient(0deg, transparent, rgba(0, 0, 0, 0.966) 5%);
        z-index: 3;
    }

    ul {
        position: relative;
        padding: 0;
        margin: 0;
        height: 3em;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
    }

    nav a {
        display: flex;
        height: 100%;
        align-items: center;
        padding: 0 1em;
        color: white;
        font-weight: 700;
        font-size: 0.8rem;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        text-decoration: none;
        transition: color 0.2s linear;
    }

    a:hover {
        background-color: #00000080;
    }

    nav #menu {
        display: none;
    }

    @media (max-width: 700px) {
        nav a {
            display: none;
        }
        nav #menu {
            float: right;
            display: block;
        }
        nav.responsive {
            flex-direction: column;
            height: auto;
            padding: 20px 0;
        }
        nav.responsive #menu {
            display: none;
        }
        nav.responsive a {
            display: block;
            margin: 10px 0;
        }
    }
</style>
