.primary {
    color: #0070f3;
}

.secondary {
    color: #6b7280;
}

.tertiary {
    color: #f9f9f9;
}

.center {
    text-align: center;
}

.pb-1 {
    padding-bottom: 1rem;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

p {
    font-size: 16px;
}

h6 {
    font-size: 12px;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}
